.Rhistory
.RData
.Rproj.user/

src/*.o
src/*.so
src/*.dll
src-i386/
src-x64/

packrat/lib*/

code_ex.R
resemble/resemble_logo.png
resemble/.travis.yml

*.html
*.pdf

tests/testthat/*.pdf

vignettes/*.html
vignettes/*_files/

!logo.png
!MBL.gif
docs
