S3method(print,localOrthoDiss)
S3method(print,orthoProjection)
S3method(predict,orthoProjection)
S3method(print,mbl)
exportPattern("^[[:alpha:]]+")
export(corDiss)
export(fDiss)
export(getPredictions)
export(mbl)
export(mblControl)
export(neigCleaning)
export(orthoDiss)
export(orthoProjection)
export(pcProjection)
export(plsProjection)
export(plot.mbl)
export(plot.orthoProjection)
export(sid)
export(simEval)
import(Rcpp)
import(RcppArmadillo)
import(foreach)
import(iterators)
import(pls)
importFrom(Rcpp, evalCpp)
useDynLib(resemble)

